.menus{
    display: flex;
    justify-content: space-around;
    flex-direction: wrap;
    .card{
        margin: 10px;
        padding: 15px;
        width: 20%;
        height: 185px;
        background-color: white;
        border: 1px solid rgb(244, 231, 231);
        border-radius: 8px;
        text-align: center;
        overflow: hidden;
     &:hover{
        box-shadow: -4px -1px 5px 1px rgba(0,0,0,0.16);
        -webkit-box-shadow: -4px -1px 5px 1px rgba(0,0,0,0.16);
        -moz-box-shadow: -4px -1px 5px 1px rgba(0,0,0,0.16);
     }  
    
     .content{
       // border: 1px solid red;
        width: 100%;
        height: 75%;
        margin-bottom: 5px;
        img{
            height: 50%;
            width: 50%;
            margin: auto;
            object-fit: contain;
         }
         .text-number{
            overflow: hidden;
            height: 25%;
            width: 100%;
            //border: 1px solid;
            margin-top: 5px;
            font-weight: 400;
            font-size: 18px;
            color: red;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;            
         }
         .text-string{
            margin-bottom: 10px;
            height: 25%;
            width: 100%;
           // border: 1px solid;
            font-size: 15px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
         }
     }
     .btn-section{
        overflow: hidden;
        //border: 1px solid black;
        width: 100%;
        height: 25%;
        text-align: center;
        .btn{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;            
        }
     } 
    }
}