/* .nav_container{
    display: flex;
    justify-content:space-between;
    width: 100%;
    background-color: rgb(210, 191, 163);
}
.nav_container ul{
    display: flex;
    justify-content: space-evenly;
}
.nav_container li{
    list-style: none;
} */